@font-face {
    font-family: 'Cocogoose Pro Regular';
    src: url('../assets/font/cocogoose/Cocogoose-Pro-Regular-trial.ttf') format('truetype');
}

@font-face {
    font-family: 'Juanjo UltraLight';
    src: url('../assets/font/cocogoose/Cocogoose-Pro-Ultralight-trial.ttf') format('truetype');
}

@font-face {
    font-family: 'Juanjo Thin';
    src: url('../assets/font/cocogoose/Cocogoose-Pro-Thin-trial.ttf') format('truetype');
}
@font-face {
    font-family: 'Juanjo Light';
    src: url('../assets/font/cocogoose/Cocogoose-Pro-Light-trial.ttf') format('truetype');
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #333;
    height: 80px;
    padding: 0 20px;
    background-color: #260B30;
    font-family: 'Juanjo Light', sans-serif;
    font-size: 17px;
    z-index: 1000;
}

.logo-nav {
    margin-right: auto;
    transition: transform 0.3s ease;

}

.logo-nav img {
    height: 50px;
    width: 50px;
}

.navbar-nav {
    display: flex;
    gap: 30px; 
}

.navbar-nav .nav-link {
    color: #928597 !important; 
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.2);
  }

.about-nav {
    color: #928597;
    text-decoration: none;   
}

.image1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -80px;
}

.design{
    font-family: 'Juanjo Light';
    display: flex;
    justify-content: center;
    align-items: center;
    color: #260B30;
    font-size: 50px;
    margin-top: -170px;
    margin-bottom: -25px;
}

.prepress-process{
    font-family: 'Juanjo UltraLight';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    margin-top: -23px;
    margin-left: -200px;
}

.graphics-arts{
    font-family: 'Juanjo UltraLight';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    margin-top: 19px;
    margin-left: 200px;
}

.txt-about{
    max-width: 1620px;
    margin-top: 140px;
    margin-left: 60px;
    margin-right: 600px;
    font-family: 'Juanjo UltraLight';
    font-size: 30px;
    color: white;
    text-align: justify;
}

.img-about{
    margin-right: 60px;
    float: right;
    height: auto;
    width: 30%;
    margin-left: 60px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-box-shadow: 0px 0px 26px #260B30;
    box-shadow: 0px 0px 26px #260B30;
    transition: transform 0.8s ease;
}

.img-about:hover {
    transform: scale(1.1);
  }

.all-icons{
    margin-bottom: 300px;
}

.icons{
    float: left;
    margin-left: 60px;
    transition: transform 0.3s ease;
    margin-top: 120px;
    margin-bottom: 120px;
}

.icons2{
    float: left;
    margin-left: 60px;
    transition: transform 0.3s ease;
    margin-top: 120px;
    margin-bottom: 120px;
}

.icons3{
    float: left;
    margin-left: 60px;
    transition: transform 0.3s ease;
    margin-top: 120px;
    margin-bottom: 120px;
}

.icons4{
    float: left;
    margin-left: 60px;
    transition: transform 0.3s ease;
    margin-top: 120px;
    margin-bottom: 120px;
}

.icono1{
    margin-right: 30px;
    transition: transform 0.3s ease;
}

.icono2{
    margin-right: 30px;
    transition: transform 0.3s ease;
}

.icono3{
    margin-right: 30px;
    transition: transform 0.3s ease;
}

.icono4{
    margin-right: 30px;
    transition: transform 0.3s ease;
}


.icons:hover {
    transform: scale(1.2);
  }

.icons2:hover {
    transform: scale(1.2);
  }

.icons3:hover {
    transform: scale(1.2);
  }

.icons4:hover {
    transform: scale(1.2);
  }

.work-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 20px;
    transition: transform 0.8s ease;
}

.work-img:hover {
    transform: scale(1.08);
}
.work-text {
    margin-bottom: 60px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 55%;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: 'Juanjo Light';
}

.workin {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 55%;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: 'Juanjo Light';
}

body {
    background-color: #928597;
    background-image: url(../assets/imgs/bg-peri.png);
}

/* Responsive adjustments */
@media (min-width: 640px) {
  .grid-bg {
    background-size: 30px 30px;
  }
}

@media (min-width: 1024px) {
  .grid-bg {
    background-size: 40px 40px;
  }
}

@media (min-width: 1536px) {
  .grid-bg {
    background-size: 50px 50px;
  }
}

/* assets/styles.css */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    z-index: 1001;
    object-fit: contain;
    background-color: transparent;
    border-radius: 30px;
}

.close-btn {
    position: absolute;
    top: 15px;
    left: 20px;
    background-color: transparent;
    background-image: url('../assets/imgs/back-ico.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1002;
    padding: 0;
    transform: rotate(35deg);
}

.close-btn:hover {
    transform: translateX(0px) rotate(-10deg);
    transition: transform 0.3s ease;
}

.close-btn:not(:hover) {
    transition: transform 0.3s ease-in-out;
}


.contact-form label {
    font-weight: bold;
    color: #260B30;
    font-family: 'Juanjo Light';
    font-size: 15px;
    background: #928597;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: -96px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    background-color: #928597;
    border: 3px solid #260B30;
    border-radius: 25px;
    color: #260B30;
    height: auto;
    width: 600px;
    margin-left: -100px;
}

.container-mt-5 {
    background-image: url(../assets/imgs/form-table-bg.png);
    max-height: 5000px;
    max-width: 800px;
    margin-left: 240px;
    margin-top: 180px;
    padding-bottom: 80px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
}
.contact-form input:hover,
.contact-form textarea:hover {
    background-color: #928597;
    border-color: #260B30;
}


.contact-form input:focus,
.contact-form textarea:focus {
    background-color: #928597;
    border-color: #260B30; 
    outline: none; 
    box-shadow: none;
}

.text-center-mb-4{
    font-family: 'Juanjo Light';
    color:#928597;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
}

.contact-form button {
    background-color: #928597;
    border-color: #928597;
    border-radius: 25px;
    font-family: 'Cocogoose Pro Regular';
    color: #260B30;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150px;
    margin-left: 348px;
    margin-top: 20px;
}


.contact-form button:hover {
    background-color: #16061c;
    border-color: #16061c;
}

.contact-container {
    margin-bottom:900px;
    position: relative;
    margin-top: -490px;
}

.contact-container .ilustracion-contact {
    position: absolute;
    right: 0;
    top: -300px;
    margin-right: 240px;
    max-height: 800px;
    max-width: auto;
}

.txt-ilustracion{
    font-family: 'Juanjo Light';
    color: #260B30;
    position: absolute;
    right: 0;
    top: 250px;
    margin-right: 280px;
    max-height: auto;
    max-width: 520px;
    text-align: justify;
}

p {
    hyphens: auto;
}

.footer{
    background-color: #260B30;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 60px;
    text-align: center;
    width: 100%;
}
.footer-text{
    margin-top: 20px;
    text-decoration: none;
    margin-left: 60px;
    color: #928597;
}
.dgp{
    margin-bottom: 180px;
}
::-webkit-scrollbar {
    width: 25px;
}

::-webkit-scrollbar-track {
    background:#260B30;
}

::-webkit-scrollbar-thumb {
    background-color: #928597;
    border-radius: 25px;
    border: 2px solid #260B30;
}

::-webkit-scrollbar-thumb:hover {
    background: #92859765;
}

.txt-news{
    margin-bottom: 60px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 55%;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Juanjo Light';
}

.last-work, .news-descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.news-img {
    width: 40vw;
    max-width: 100%;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 120px;
}

.news-img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.descripcion {
    font-family: 'Juanjo UltraLight';
    color: white;
    font-size: 30px;
    width: 60vw;
    max-width: 100%;
    text-align: justify;
    margin: 20px 0;
    line-height: 1.6;
    padding: 10px; 
    margin-bottom: 120px;
}