html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: url('../imgs/stewie_palace.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.stewie {
    width: 35vw;
    height: auto;
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 2s ease;
}

.stewie:hover {
    transform: translate(-50%, -50%) scale(1.2);
}