<!-- assets/navbar.html -->
<nav class="navbar navbar-expand-lg">
    <a class="logo-nav" href="index.html"><img src="./assets/imgs/logo.png" alt="Logo"></a>
    <div class="navbar-nav ml-auto">
        <a id="flag-nav" class="flag-nav" href="/es/home_es.html"><img src="/assets/imgs/en_flag.png" alt=""></a>
        <a class="nav-item nav-link news-nav" href="news.html">News</a>
        <a class="nav-item nav-link about-nav" href="about.html">About</a>
        <a class="nav-item nav-link work-nav" href="work.html">Work</a>
        <a class="nav-item nav-link contact-nav active" href="contact.html">Contact</a>
    </div>
</nav>